<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form *ngIf="!isRegister">
    <h3>Sign in</h3>
  
    <label for="username">Username</label>
    <input type="text" name ="userName" [(ngModel)]="loginObj.UserName" placeholder="Email or Phone" id="username">

  
    <label for="password">Password</label>
    <input type="password" name ="password" [(ngModel)]="loginObj.Password" placeholder="Password" id="password">
  
    <button id="b" style="color: black" (click)="onLogin()" routerLink="login">Sign In</button>
    <div class="social">
        <button id="c" class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i>  Sign up</button>
       
    </div>
  </form>
  <form *ngIf="isRegister">
    <h3>Sign up</h3>
    <label for="username">Username</label>
    <input type="text" name ="userName" [(ngModel)]="registerObj.UserName" placeholder="Email or Phone" id="username">
  
    <label for="password">Password</label>

    <input type="password" name ="password" [(ngModel)]="registerObj.Password" placeholder="Password" id="password">
  
  
    <button id="b" style="color: black" (click)="onRegister()">Sign up</button>
    <div class="social">
        <button id="c" class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i>  Sign in</button>
      
      
    </div>
  </form>
<router-outlet></router-outlet>