<router-outlet></router-outlet>
<ul>
    <li><a href="news.asp" >Supervisors</a></li>
    <li><a routerLink="signup1">Agents</a></li>
    <li><a href="contact.asp">Customers</a></li>
</ul>
<style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 800px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

   li a:hover {
    background-color: #111;
  } 

</style>

<h1>Login Works</h1>