<!-- <div> -->
  <!-- <table class="table">
    <th>name</th>
    <th>phone</th>
   </table> -->
   <div>
  <!-- <app-login></app-login> -->
   
  </div>

   <!-- <h1 id="q">{{title}}</h1>
   <button class="btn btn-success" (click)="display()">Click</button>
   <p>{{num==34}}</p>
   <input type ="text" [(ngModel)]="color">
   <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone:true}">
   <p>{{name}}</p>
   <h2 >New line</h2> -->


   

<!-- <div>
  <app-register></app-register>
  <app-signup1></app-signup1>
  <h1 *ngIf="ifs; then ifs1 else elsestatement"> if statement </h1>
  <ng-template #elsestatement>  
    <h1>
      else works here
    </h1>
  </ng-template>
  <ng-template #ifs1>  
    <h2>
      if works here
    </h2>
    <h4>{{get(name)}}</h4>
  </ng-template>
  <ng-template [ngIf]="color == 'red'">
    <h4 style="color: red;">red</h4>
  </ng-template>
  <ng-template [ngIf]="color == 'blue'">
    <h4 style="color:blue;">blue</h4>
  </ng-template>
  <ng-template [ngIf]="color == 'green'">
    <h4 style="color: green;">green</h4>
  </ng-template>

  <div [ngSwitch]="color">
    <h3 *ngSwitchCase="'red'" style="color:red">Red</h3>
    <h3 *ngSwitchCase="'green'" style="color:rgb(0, 255, 0)">Green</h3>
    <h3 *ngSwitchCase="'pink'" style="color:pink">Pink</h3>
    <h3 *ngSwitchCase="'yellow'" style="color:yellow">Yellow</h3>
    <h3 *ngSwitchCase="'black'" style="color:black">Black</h3>



  </div>

  <p id="q">{{array1}}</p>
  <ul *ngFor="let i of array1">
    <li>{{i}}</li>
  </ul>
  <p id="q">{{obj1}}</p>
  <ul *ngFor="let j of obj1">
    <li>{{j.name}}--{{j.dept}}--{{j.ID}}</li>
  </ul>

  <div>
    <table class="table-sm">
      <thead>
        <tr>
          <td id="p">Sno</td>
          <td>Name</td>
          <td>Dept</td>
          <td>ID</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of obj1, let z=index, let f=first,let l=last,let o=odd,let e=even" [ngClass]="{'bg-danger':f,'bg-success':l}">
          <td>{{z+1}}</td>
          <td>{{k.name}}</td>
          <td>{{k.dept}}</td>
          <td>{{k.ID}}</td>
        </tr>
      </tbody>
    </table>


  </div>

  <button class="btn btn-success" [disabled]="b1">button</button>

  <button class="btn-success" [disabled]="b1">Click</button>
  <label for="">Search<input type=text [value]="SearchValue"></label>
  <p>{{date|date}}</p>
  <p>{{date|date:'longDate'}}</p>
  <p>{{date|date:'shortDate'}}</p>
  <p>{{amt|currency:'USD'}}</p>

</div> -->

<!-- </div> -->


<router-outlet>
</router-outlet>

<app-exp></app-exp>