
<!-- <table>
    <tr>
        <th>S.no</th>
        <th>ID</th>
        <th>Name</th>
    </tr>
</table> -->
<!-- <script>
    obj1=[{name:"Zayed",dept:"ECE",ID:"101"},
        {name:"Mohd",dept:"CSE",ID:"102"},
        {name:"MDZD",dept:"EEE",ID:"103"},
        {name:"MZ",dept:"IT",ID:"104"}

      ]
  </script> -->
<table class="table-sm">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>ID</th>
        <th>Dept</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of obj1, let z=index">
        <td>{{z+1}}</td>
        <td>{{k.name}}</td>
        <td>{{k.dept}}</td>
        <td>{{k.ID}}</td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
<!-- <style>
    table {
  width: 50%;
  border: 1px solid;
  margin-left: 20%;
  margin-top: 10%;
}

tr{
    width: 50px;
}

th {
  height: 70px;
  padding: 15px;
  text-align: left;
}
</style> -->