<!-- <table>
    <tr>
        <th>S.no</th>
        <th>ID</th>
        <th>Name</th>
    </tr>
</table> -->
<!-- <script>
    obj1=[{name:"Zayed",dept:"ECE",ID:"101"},
        {name:"Mohd",dept:"CSE",ID:"102"},
        {name:"MDZD",dept:"EEE",ID:"103"},
        {name:"MZ",dept:"IT",ID:"104"}

      ]
  </script> -->

<!-- <style>
    table {
  width: 50%;
  border: 1px solid;
  margin-left: 20%;
  margin-top: 10%;
}

tr{
    width: 50px;
}

th {
  height: 70px;
  padding: 15px;
  text-align: left;
}
</style> -->
<body>
  <link integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC">

<div class="title">
<h1>Supervisors List</h1>
</div>

    
        
<div>   
<table class="table-sm">
    <thead>
      <tr id="a">
        <th>S.no</th>
        <th>Name</th>
        <th>Peak</th>
        <th>Timeline</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of obj1, let z=index" id="b">
        <td>{{z+1}}</td>
        <td>{{k.name}}</td>
        <td>{{k.dept}}</td>
        <td>{{k.ID}}</td>
      </tr>
    </tbody>
  </table>
  
  
    <!-- <link rel="stylesheet" href="admin-dashboard.component.css"> -->
    


</div>


<h1 id="d"></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
</body>
  <router-outlet></router-outlet>