<!-- <p>exp works!</p> -->

<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
          <button (click)="signup1()" class="nav-link"  routerLinkActive="active">Customer List</button>
      </li>
      <li class="nav-item">
          <a routerLink="addAgents" class="nav-link"  routerLinkActive="active">Add Agents</a>
      </li>
    </ul>
  </nav> -->
  <!-- <router-outlet></router-outlet> -->
 
  <ul>
    <li><a routerLink="admin-dshb" >Home</a></li>
    <li><a routerLink="signup1">Sign in/Sign up</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>

<router-outlet></router-outlet>

<!-- <button (click)=""></button> -->